@import url(https://fonts.googleapis.com/css?family=Karla:300,400,600,800);

* {
    font-family: Karla, sans-serif;
}

table th,
table tr td:first-child {
    font-size: 14px;
    color: #34495E;
}

th {
    position: sticky;
    top: 0;
}

table {
    width: 100%;
    height: 400px;
    font-family: arial;
    letter-spacing: normal;
    font-size: 14px;
    line-height: normal;
    table-layout: fixed;
    position: relative;
}

table th:first-child {
    width: 80px;
}

table th {
    background: #F0F0F0;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
}

table td {
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    height: 30px;
}

.one {
    background: #80CEBE;
}

.two {
    background: #F282A7;
}

.three {
    background: #F0725C;
}

.four {
    background: #F6AC5A;
}

.event {
    text-align: left;
    padding: 10px 10px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 4px;
}

.event .name {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 2px;
}

.event .group {
    margin: 0.5em 0;
    opacity: 0.8;
    font-size: 0.8em;
}

.event .type {
    opacity: 0.7;
}

.event .ta,
.event .type,
.event .room {
    font-weight: bold;
    font-size: 0.8em;
}

.legend {
    list-style: none;
    margin-left: 10px;
}

.legend li {
    float: right;
    margin-right: 15px;
}

.legend span {
    float: left;
    width: 20px;
    height: 15px;
    margin-right: 7px;
    margin-top: 3px;
}